<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293064589552-h1f1s1b19suegtur5d39k7njcjuptcon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293064589552-h1f1s1b19suegtur5d39k7njcjuptcon</string>
	<key>API_KEY</key>
	<string>AIzaSyD5iwJE5D_x4BkDl-UyuXyZh-V9Fzgt2Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>293064589552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Paletti</string>
	<key>PROJECT_ID</key>
	<string>paletti-app</string>
	<key>STORAGE_BUCKET</key>
	<string>paletti-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293064589552:ios:cad29165db7d97dc0a4235</string>
</dict>
</plist>